<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线Console</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/marketing.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?9afb8c3218e94d2727fd8b3f55f7a865";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>        
</head>
<body>
<%- body %>

<footer class="footer l-box is-center">
    &copy;2017 - 2019 jsconsole.org All Right Reserved. <br>
    <a style="color: #7f8c8d" target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备14062481号-2</a>
</footer>
</body>
</html>